<!doctype html>
<html lang="en">
  <head>
    <!--configuration-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--tab title and favicon-->
    <title>About Infra-monitor</title>
    <link rel="icon" type="image/x-icon" href="https://images.emojiterra.com/google/android-10/512px/1f3d7.png">

    <!--link bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <style>
      .caution-text {
        background-color: black !important;
        color: #ffc107 !important;
      }

      .text-center {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    </style>
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg" style="background-color: black;">
      <div class="container-fluid">
        <!--logo and title-->
        <a class="navbar-brand" style="color: #ffc107 !important;"href="/">🏗️ Infra-monitor</a>
        <!--button for navbar on small screens-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="background-color: #ffc107 !important;"></span>
        </button>
        <!--link to about page-->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/about" style="color: #ffc107 !important;">About</a>
          </div>
        </div>
      </div>
    </nav>

    <!--Cover Image-->
    <h2 class="caution-text" style="text-align: center;">What is Infra-Monitor?</h2>
    <img style="display: block; margin-left: auto; margin-right: auto; width: 50%" src="/static/infra-monitor-logo.png"><img>

    <!--Description of App-->
    <!--TO DO-->
    <h4 class="text-center"><b>The Task</b></h4>
    <p class="text-center">&emsp;Infra-Monitor’s purpose is to monitor, report, and display infrastructure issues nationwide by
      building an extensive database. The United States has some of the most expansive infrastructure on earth,
      with over 4 million miles of roads, 600,000 bridges, and at least 330,000 traffic lights according to the
      Federal Highway Administration. However, much of this infrastructure is aged and needs constant inspection.
      But how can everything built be continuously tracked and maintained? Infra-Monitor solves this by turning the
      general public into a network of inspectors without formal training.
    </p>

    <h4 class="text-center"><b>Server Side</b></h4>
    <p class="text-center">
      &emsp;The public can use the website to report an infrastructure issue they encounter
      and send the location. Then, this is used to build the database on the back end or server side, which
      can be used by the Department of Transportation and Federal Highway Administration
      so they can find where problems are and fix them promptly.
    </p>

    <h4 class="text-center"><b>Client Side</b></h4>
    <p class="text-center">
      &emsp;On the front-end, Infra-Monitor benefits the users by displaying all the potholes, sidewalk damage,
      street light issues, traffic light malfunctions, obstructed roads, and street drainage problems
      that people reported in the user’s area. Users can also see how many people have verified any
      particular entry to see which ones are the most problematic. This way, Infra-Monitor will also allow
      people to embark on journeys with prior knowledge of problems that may not be visible on most navigation apps
      like Google Maps, and can encourage people who live in areas with relatively poor infrastructure to persuade
      their local government to fix issues.
    </p>

    <h4 class="text-center"><b>Usability</b></h4>
    <p class="text-center">
      &emsp;The use of Infra-Monitor is also exceptionally straightforward. For people who may be driving or biking,
      Infra-Monitor can use browsers’ built in AI speech recognition to listen for commands to report on
      infrastructure by voice. Additionally, the app is built to run inside of web browsers as a web app so that
      any machine, whether it be Android, IOS, Amazon FireOS, PC, Mac, can run Infra-Monitor without having to deal
      with installing or updating the program. This prevents differences in operating systems from limiting the
      reach of Infra-Monitor. People can also use Infra-Monitor to automatically look up their local city
      services online so they can report problems directly.
    </p>

    <h4 class="text-center"><b>The Result</b></h4>
    <p class="text-center">
      &emsp;This app can even save lives by preventing fatal car accidents caused by potholes and other critical failures
      of infrastructure by spreading information and helping the government fix them. Ultimately this will lead
      to safer, efficient, and reliable infrastructure for the benefit of everyone.
    </p>
  </body>
</html>